doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		title= 'SampleApp'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
	body
		#react-root
		script(src="/js/vendor.js")
		script(src="/js/main.js")
	
